body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;

    display: flex; /*FlexBox*/
    justify-content: center;
    align-items: center;
    height: 100vh; /*vh = Se ve toda la pagina que el usuario ve*/
}

main {
    border: 1px solid red;
    width: 250px;
}