body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;

    display: flex; /*Llama a la funnción FlexBox*/
    justify-content: center; /*Alinea horizontalmente*/
    align-items: center; /*Alinea Veticalmente*/
    height: 100vh; /*vh = Se ve toda la pagina que el usuario ve*/
}

main {
    border: 1px solid red; /*Para ver el contorno del contenedor*/
    width: 250px;
}